#### Personal ignores
**.sln
.vs
**.vcxproj
**.vcxproj.**
**/x64/**
bin/**
BasicProjectComputerGraphics/vendor/Glad/bin/**
**/bin-int/**
*.exe
*.bat
BasicProjectComputerGraphics/vendor/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
